.user-navbar {
  display: flex;
  justify-content: center;
  gap: 28px;

  padding: 14px 0;
  background: #D9C2B6;
  border-bottom: 1px solid #f4f0f0;
}

.user-navbar a {
  text-decoration: none;
  font-weight: 500;
  color: #222;
  position: relative;
}

.user-navbar a:hover {
  color: #7A2E3A;
}
/* DROPDOWN WRAPPER */
.dropdown {
  position: relative;
}

.dropdown-title {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}

.dropdown:hover .dropdown-title {
  color: #b23a48;
}

/* MEGA MENU */
.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 900px;
  background: #ffffff;
  padding: 30px 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  z-index: 999;
  animation: fadeIn 0.25s ease-in-out;
}

/* COLUMN */
.mega-column {
  display: flex;
  flex-direction: column;
}

/* CATEGORY TITLE */
.mega-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #111;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
}

/* LINKS */
.mega-link {
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin-bottom: 8px;
  transition: all 0.2s ease;
}

.mega-link:hover {
  color: #b23a48;
  transform: translateX(4px);
}

/* SMOOTH ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}